.c-container {
    width: 100%;
    display: flex;
    gap: 30px 20px;
    margin: 0 auto;
    flex-wrap: wrap;
    max-width: 1050px;
    padding-top: 30px;
    flex-direction: row;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .c-container {
        padding: 0 2%;
    }
}