.c-container {
    width: 100%;
    display: flex;
    max-width: 190px;
    padding: 20px 10px;
    position: relative;
    border-radius: 10px;
    align-items: center;
    flex-direction: column;
    background-color: #4b0a0a;
    border: solid 2px #e70b0b;
}

.c-img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}
.c-btn-page {
    color: #ffffffd7;
    position: absolute;
    right: 15px;
    top: 25px;
}
.c-container h4 {
    padding: 5px 0;
    font-size: 18px;
    cursor: default;
    color: #ffffff;
    font-weight: 600;
    text-align: center;
    letter-spacing: 1px;
}
.c-info {
    gap: 20px;
    width: 100%;
    display: flex;
    color: #ffffff;
    justify-content: center;
}

.c-info-hab {
    gap: 5px;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 392px) {
    .c-container {
        max-width: 350px;
    }
    .c-img {
        height: 320px;
    }
}